<% include ./partials/header.ejs %>

<div class="jumbotron text-center">
  <h1>Company</h1> 
  <p>Company slogan blablabla</p> 

    <!-- possible extra function 
    <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div>
    </form>
    -->
</div>

<% include ./partials/footer.ejs %>
