<% include ./partials/header.ejs %>

    <div class="container login">
        <div class="card card-container">
           
            <p id="profile-name" class="profile-name-card">Login</p>
            <form class="form-signin" method="post">
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                
                <button class="btn btn-lg btn-info btn-block btn-signin">Sign in</button>
                <a href="/google">
                    <img src="images/google.png" />
                </a>

            </form><!-- /form -->
            <a href="/register" class="forgot-password">
                Not have an account yet?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->


<% include ./partials/footer.ejs %>